{:base-target-path "temp"
 :base-source-path "src"
 :subdirs-to-sync  ["src"]
 :remote-repo      {:git-url "https://github.com/ClojureCivitas/clojurecivitas.github.io"
                    :branch  "main"}
 :hide-info-line   true
 :hide-ui-header   true
 :config/transform civitas.db/expand-authors
 ;; :use-kindly-render true

 ;; aliases
 :markdown
 {:render           true
  :base-target-path "site"
  :format           [:quarto :html]
  :run-quarto       false
  :hide-info-line   false
  :quarto           []
  :flatten-targets  false
  :keep-sync-root   false}
 :ci
 {:keep-existing true}}
