{:base-target-path "temp"
 :base-source-path "content"
 :subdirs-to-sync  ["content"]
 :sync-as-subdirs  false
 :flatten-targets  false
 :remote-repo      {:git-url "https://github.com/timothypratley/clojurecivitas"
                    :branch  "main"}
 :hide-info-line   true
 :hide-ui-header   true
 :aliases {:markdown {:render true
                      :base-target-path "site"
                      :format [:quarto :html]
                      :run-quarto false
                      :hide-info-line false}}}
