{:paths ["src"]

 :deps
 {org.clojure/clojure                         {:mvn/version "1.12.1"}
  org.scicloj/noj                             {:mvn/version "2-beta18"}
  markdown-clj/markdown-clj                   {:mvn/version "1.12.4"}
  org.clojure/core.async                      {:mvn/version "1.9.808-alpha1"}
  io.github.clojure/core.async.flow-monitor   {:git/tag "v0.1.2"
                                               :git/url "https://github.com/clojure/core.async.flow-monitor"
                                               :git/sha "6248a5d"}
  metosin/malli                               {:mvn/version "0.19.1"}
  clj-fuzzy/clj-fuzzy                         {:mvn/version "0.4.1"}
  clj-thamil/clj-thamil                       {:mvn/version "0.2.0"}
  org.scicloj/clay                            {#_#_:mvn/version "2-beta46"
                                               :git/url "https://github.com/scicloj/clay.git"
                                               :git/sha "71ff600b73eda4d773475bca129e727ae6cf89a7"}
  org.eclipse.elk/org.eclipse.elk.core        {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph       {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph.json  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.common  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.layered {:mvn/version "0.10.0"}}

 :aliases
 {;; Build the site with `clojure -M:clay -a [:markdown]`
  ;; Run Clay in watch mode with `clojure -M:clay`
  :clay       {:main-opts ["-m" "scicloj.clay.v2.main"]
               :jvm-opts  ["-Dclojure.main.report=stderr"]}
  ;; When debugging libraries
  :local-deps {:override-deps {org.scicloj/clay          {:local/root "../clay"}
                               org.scicloj/kindly        {:local/root "../kindly"}
                               org.scicloj/kindly-advice {:local/root "../kindly-advice"}
                               org.scicloj/kindly-render {:local/root "../kindly-render"}}}
  :neil       {:project {:name io.github.timothypratley/clojurecivitas}}}}
