{:paths ["src"]

 :deps
 {org.clojure/clojure                         {:mvn/version "1.12.0"}
  org.scicloj/noj                             {:mvn/version "2-beta18"}
  markdown-clj/markdown-clj                   {:mvn/version "1.12.3"}
  org.clojure/core.async                      {:mvn/version "1.9.808-alpha1"}
  io.github.clojure/core.async.flow-monitor   {:git/tag "v0.1.1" :git/sha "61e8d31"}
  metosin/malli                               {:mvn/version "0.18.0"}
  clj-fuzzy/clj-fuzzy                         {:mvn/version "0.4.1"}
  clj-thamil/clj-thamil                       {:mvn/version "0.2.0"}
  org.scicloj/clay                            {:git/url "https://github.com/scicloj/clay"
                                               :git/sha "d64df566e3dd0e90ac9360d86a481a7be7587eaf"}
  org.eclipse.elk/org.eclipse.elk.core        {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph       {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph.json  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.common  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.layered {:mvn/version "0.10.0"}}

 :aliases
 {;; Build the site with `clojure -M:clay -a [:markdown]`
  ;; Run Clay in watch mode with `clojure -M:clay`
  :clay  {:main-opts ["-m" "scicloj.clay.v2.main"]
          :jvm-opts ["-Dclojure.main.report=stderr"]}
  ;; When debugging libraries
  :local {:override-deps {org.scicloj/clay          {:local/root "../clay"}
                          org.scicloj/kindly-advice {:local/root "../kindly-advice"}}}
  :neil  {:project {:name io.github.timothypratley/clojurecivitas}}}}
